body {
  background-color: #d3d7df; /* Light gray background */
  font-family: Arial, sans-serif;
}

.header {
  background-color: #f4f4f4;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header img {
  max-height: 50px;
}

.header .profile {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color:#042E6E;
}

.header .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.services {
  margin: 20px auto;
  text-align: center;
}

.service-icon {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
}

.service-icon img {
  width: 50px;
  margin-bottom: 10px;
}

.service-icon p {
  font-size: 14px;
  font-weight: bold;
  color: #042E6E;
}
.service-icon:hover {
        transform: scale(1.05);
    }

.footer {
  background-color: #f4f4f4;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height:70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer a {
  color: #042E6E;
  font-size: 16px;
  font-weight: bold;
}

.footer a:hover {
color: #2563eb; /* Blue text */
}

a {
  text-decoration: none;
}

h4{
  color: #042E6E;
}
 h6{
  color: #042E6E;
  font-weight: bold;
 }

 